{% load static %}
<!doctype html>
<html lang="zh-cn">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {% comment %} <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script> {% endcomment %}
    <script src="{% static jquery-3.5.1.js %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js" 
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    {% comment %} <script src="{% static 'jquery-3.5.1.js' %}"></script>
    <script src="{% static 'popper.min.js' %}"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}"> {% endcomment %}
    

    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" 
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title id="usertitle">日程表</title>
    <style>
        /* 固定表格宽度 */
        table{
            table-layout: fixed;
            word-break: break-all;
        };

        /* 鼠标滑过变色 */
        td{
            background-color: aliceblue;
        }
        td:hover{
            background-color:aqua;
        }
    </style>
  </head>
  <body>

    <!-- 导航条 -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">课程表</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">我的安排 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">团队安排</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="modenow" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                事务模式
              </a>
              <div class="dropdown-menu" aria-labelledby="modenow">
                <a class="dropdown-item" href="#" onclick="mode2course()">课程模式</a>
                <a class="dropdown-item" href="#" onclick="mode2affair()">事务模式</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
          <div class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
            <button class="btn btn-outline-success my-2 my-sm-0" onclick="logout()">退出</button>
          </div>
        </div>
      </nav>



    <!-- 表格内容 -->
    <div id = "app">    
    <table class="table table-bordered">
        <thead class="thead-dark">
            <!-- 显示时间的表格 -->
            <tr>
                <th>#</th>
                {% for dayname in weekdaynames %}
                    <th class="specday">{{dayname}}</th>
                {% endfor %}
            </tr>

        </thead>

        {%for classes, course in courses.items%}
            <tr>
            <td>{{classes}}</td>
            {% for coursename in course %}
                <td data-toggle="modal" data-target="#myModal" class="content">
                    {{coursename}}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
        

    </table>

    <!-- 切换当前所处星期的导航条 -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li class="page-item" id="prevli">
            <a class="page-link" href="#" id="preva" onclick="changeweek(-1)">上一周</a>
          </li>
          <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">第{% verbatim myblock %}{{weekcount}}{% endverbatim myblock %}周</a></li>
          <li class="page-item" id="nextli">
            <a class="page-link" href="#" id="nexta" onclick="changeweek(1)">下一周</a>
          </li>
        </ul>
    </nav>

    </div>

    <!-- 弹出框体 -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">输入接下来的安排</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <!-- <form> -->
                <label>有什么安排</label>
                <input class="form-control" id="nextplan" onkeypress="return onKey(event)">
            <!-- </form> -->
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" onclick="clearText()" data-dismiss="modal" id="dismiss">确认</button>
            </div>
        </div>
        </div>
    </div>



    <script>
        var writing_affair = false;
        var changing_td;
        var changing_i, changing_j; //用于读取更改安排的格子坐标
        var name = "";
        var stuid = "";
        var mode = "affair";
        weekday = 0;
        daytime = 0;
        // 初始化用户
        if(localStorage["name"]){
            name = localStorage["name"];
        }
        if(localStorage["stuid"]){
            stuid = localStorage["stuid"];
        }
        else{
            // 检测不到学号，跳转到登录界面
            window.location.href = "/";
        }
        if(name.length > 0){
            document.getElementById("usertitle").innerHTML="你好," + name;
        }
        var app = new Vue({
            el:"#app",
            data:{
                weekcount:0
            },
            methods:{
                changeText:function(event, i, j){
                    changing_td = event.currentTarget;
                    var mymodaltitle = document.getElementById("ModalLabel");
                    var nextp = document.getElementById("nextplan");
                    nextp.value = changing_td.innerHTML;
                    changing_i = i;
                    changing_j = j;
                    mymodaltitle.innerHTML = "周" + (j + 1).toString() + ",第" + (i + 1).toString() + "节课";
                }
            }
        })

        logout = function(){
            localStorage["secret"] = "";
            var j;
            var loginAdr = "";
            var nowAdr = window.location.href;
            for(var i = 0; nowAdr[i] != "i"; i++){
                loginAdr += window.location.href[i];
            }
            window.location.href = loginAdr;
        }

        mode2affair = function(){
            $("#modenow").text("事务模式");
            mode = "affair";
        }

        mode2course = function(){
            $("#modenow").text("课程模式");
            mode = "course";
        }

        // 向服务器发送新的事务
        clearText = function(){
            var mydata = {
                "stuid":"17307130109",
                "name":"zqy",
                "weeknum":app.$data.weekcount,
                "weekday":weekday,
                "daytime":daytime
            }
            mydata[mode] = document.getElementById("nextplan").value;
            url2send = "/add/" + mode + "/";
            $.ajax({
                type:"POST",
                dataType:"json",
                url:url2send,
                contentType:"application/json",
                data:JSON.stringify(mydata),
                success:function(result){
                    if(result["status"] == "success"){
                        document.getElementsByClassName("content")[(daytime - 1) * 7 + weekday - 1].innerHTML = result[mode];
                        if(mode == "course"){
                            location.reload();
                        }
                    }
                    else{
                        document.getElementsByClassName("content")[(daytime - 1) * 7 + weekday - 1].innerHTML = result["reason"] + ",添加失败";
                    }
                }
            });
        }


        // 按下回车后保存修改信息
        function onKey(event){
            if(event.keyCode == "13"){
                document.getElementById("dismiss").click();
            }
        }


        // 表格框体点击后弹出输入框，并更改输入框标题
        var cts = document.getElementsByClassName("content");
        for(var i = 0; i < cts.length; i++){
            cts[i].index = i;
            cts[i].onclick = function(){
                var rindex = this.index;
                x = Math.floor(this.index / 7) + 1;
                y = this.index % 7 + 1;
                document.getElementById("ModalLabel").innerHTML = "星期" + y + "第" + x + "节课";
                document.getElementById("nextplan").value = cts[rindex].innerHTML;
                weekday = y;
                daytime = x;
            }
        }


        Date.prototype.toDayString = function(){
            return this.getFullYear() + '年' + (this.getMonth() + 1).toString() + '月' + this.getDate() + '日';
        }

        var date = new Date();
        var beginday = new Date(1599408000000); //学期的开始，9月7日0时（第0周）


        // 设定当前所处时间
        var setday = function(indexdate){
            var dayx = (indexdate.getDay() + 6) % 7; //重新定位，新的一周从周一开始
            var monday = new Date(indexdate.getTime() - 86400000 * dayx);
            var stamp = document.getElementsByClassName("specday");
            var daynames = {{ weekdaynames | safe }};
            for(var i = 0; i < 7; i++){ //为每一天加上日期
                var today = new Date(monday.getTime() + 86400000 * i);
                today = today.toDayString();
                stamp[i].innerHTML = today + " " + daynames[i];
            }
            var weekc = Math.floor((date - beginday) / (7 * 24 * 3600000)); //定义当前所处的星期
            app.$set(app.$data, 'weekcount', weekc);
        }
        setday(date);

        //切换当前所处的星期计数
        var changeweek = function(weekindex){
            var nextday = new Date(date.getTime() + 86400000 * 7 * weekindex);
            date = nextday;
            setday(date);
            var currweek = app.$data.weekcount;
            weeklocal = currweek;
            if(currweek == 1){ //禁用上一周
                document.getElementById("preva").setAttribute("aria:disabled", true);
                document.getElementById("prevli").setAttribute("class", "page-item disabled");
                document.getElementById("preva").setAttribute("tabindex", -1);
                document.getElementById("preva").blur();
            }
            else if(currweek == 16){ //禁用下一周
                document.getElementById("nexta").setAttribute("aria:disabled", true);
                document.getElementById("nextli").setAttribute("class", "page-item disabled");
                document.getElementById("nexta").setAttribute("tabindex", -1);
                document.getElementById("nexta").blur();
            }
            else{ //解禁切换按钮
                document.getElementById("preva").setAttribute("aria:disabled", false);
                document.getElementById("prevli").setAttribute("class", "page-item");
                document.getElementById("preva").setAttribute("tabindex", 0);
                document.getElementById("nexta").setAttribute("aria:disabled", false);
                document.getElementById("nextli").setAttribute("class", "page-item");
                document.getElementById("nexta").setAttribute("tabindex", 0);
            }
            var get_week_data = {
                "stuid":stuid,
                "currweek":weeklocal
            }
            $.ajax({
                type:"POST",
                url:"/get/affair",
                dataType:"json",
                contentType:"application/json",
                data:JSON.stringify(get_week_data),
                success:function(result){
                    var resaffair = result["data"];
                    var exist_course = {{courses|safe}};
                    var courses = new Array;
                    for(key in exist_course){
                        courses = courses.concat(exist_course[key]); 
                    }
                    var tables = document.getElementsByClassName("content");
                    for(var i = 0; i < tables.length; i++){
                        tables[i].innerHTML = courses[i];
                    }
                    if(result["status"] == "success"){
                        for(var i = 0; i < resaffair.length; i++){
                            var data = resaffair[i];
                            var x = data["daytime"] - 1;
                            var y = data["weekday"] - 1;
                            tables[x * 7 + y].innerHTML = courses[x * 7 + y] + data["affair"];
                        }
                    }
                }
            })
        }
        changeweek(0);



    </script>
  </body>
</html>