{% load static %}
<!doctype html>
<html lang="zh-cn">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/jquery-3.5.1.js"></script>
    <script src="/static/popper.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    

    <link rel="stylesheet" href="/static/bootstrap-table.min.css">
    <script src="/static/bootstrap-table.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/bootstrap.min.css">

    <title id="usertitle">日程表</title>
    <style>
        /* 固定表格宽度 */
        table{
            table-layout: fixed;
            word-break: break-all;
        };

        /* 鼠标滑过变色 */
        td{
            background-color: aliceblue;
        }
        td.tdcl:hover{
            background-color:aqua;
        }
    </style>
  </head>
  <body>

    <!-- 导航条 -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">课程表</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
          </ul>
          <div class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" placeholder="输入组长学号" aria-label="Search" id="leaderinp">
            <button class="btn btn-outline-success my-2 my-sm-0" onclick="search_group()">查找</button>
            <button class="btn btn-outline-success my-2 my-sm-0" onclick="show_group()">我的</button>
            <button class="btn btn-outline-success my-2 my-sm-0" onclick="logout()">退出</button>
          </div>
        </div>
      </nav>

    <div class="modal fade" id="staticModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">获得的小组列表</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <table class="table" id="gtable">
            </table>
        </div>
        <div class="modal-body">
            <p>创建一个小组:</p>
            <input id="group_name">
            <button onclick="create_group()" class="btn btn-primary">创建</button>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            {% comment %} <button type="button" class="btn btn-primary">Understood</button> {% endcomment %}
        </div>
        </div>
    </div>
    </div>



    <!-- 表格内容 -->
    <table class="table table-bordered">
        <thead class="thead-dark">
            <!-- 显示时间的表格 -->
            <tr>
                <th>#</th>
                {% for dayname in weekdaynames %}
                    <th class="specday">{{dayname}}</th>
                {% endfor %}
            </tr>

        </thead>

        {%for classes, course in courses.items%}
            <tr>
            <td>{{classes}}</td>
            {% for coursename in course %}
                <td class="content tdcl">
                    {{coursename}}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
        

    </table>

    <!-- 切换当前所处星期的导航条 -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li class="page-item" id="prevli">
            <a class="page-link" href="#" id="preva" onclick="changeweek(-1)">上一周</a>
          </li>
          <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true" id="weektag">第0周</a></li>
          <li class="page-item" id="nextli">
            <a class="page-link" href="#" id="nexta" onclick="changeweek(1)">下一周</a>
          </li>
        </ul>
    </nav>

    </div>

    <!-- 弹出框体 -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">输入接下来的安排</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <!-- <form> -->
                <label>有什么安排</label>
                <input class="form-control" id="nextplan" onkeypress="return onKey(event)">
                <br>
                <label id="inPlace">选择在哪一周:</label>
            <!-- </form> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="chooseAll()">全选</button>
                <button type="button" class="btn btn-primary" onclick="reverseAll()">反选</button>
                <button type="button" class="btn btn-primary" onclick="singleAll()">单周</button>
                <button type="button" class="btn btn-primary" onclick="doubleAll()">双周</button>
                <button type="button" class="btn btn-primary" onclick="onlyHere()">当前</button>
                <button type="button" class="btn btn-primary" onclick="destroyHere()">摧毁</button>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" onclick="clearText()" data-dismiss="modal" id="dismiss">确认</button>
            </div>
        </div>
        </div>
    </div>



    <script>
        var writing_affair = false;
        var changing_td;
        var changing_i, changing_j; //用于读取更改安排的格子坐标
        var name = "";
        var stuid = "";
        var mode = "affair";
        var weeknum = 0;
        weekday = 0;
        daytime = 0;
        // 初始化用户
        if(localStorage["name"]){
            name = localStorage["name"];
        }
        if(localStorage["stuid"]){
            stuid = localStorage["stuid"];
        }
        else{
            // 检测不到学号，跳转到登录界面
            window.location.href = "/";
        }
        if(name.length > 0){
            document.getElementById("usertitle").innerHTML="你好," + name;
        }

        // 在添加事务时加入星期选项框，能够选择相应的星期
        let boxes = new Array(0);
        for(let i = 1; i <= 18; i++){
            if(i == 1){
                let mybr = document.createElement("br");
                document.getElementById("inPlace").appendChild(mybr);
            }
            let weeklabel = document.createElement("label");
            let weekchoice = document.createElement("input");
            boxes.push(weekchoice);
            let title = "0";
            if(i > 9){
                title = i;
            }
            else{
                title += i;
            }
            weeklabel.innerHTML = title;
            weekchoice.setAttribute("type", "checkbox");
            document.getElementById("inPlace").appendChild(weeklabel);
            document.getElementById("inPlace").appendChild(weekchoice);
            if(i % 6 == 0){
                let mybr = document.createElement("br");
                document.getElementById("inPlace").appendChild(mybr);
            }
        }

        function addTableButton(value, row, index){
            return [
            '<button id="join_g" type="button" class="btn btn-primary">加入</button>'
            ].join('');
        }

        window.buttonEvents = {
            'click #join_g' :function(e, value, row, index){
                mydata = {
                    "stuid":stuid,
                    "groupid":row["groupid"]
                };
                $.ajax({
                    type:"POST",
                    dataType:"json",
                    url:"/group/join",
                    contentType:"application/json",
                    data:JSON.stringify(mydata),
                    success:function(result){
                        if(result["status"] == "success"){
                            $("#staticBackdropLabel").text("加入成功");
                        }
                        else{
                            $("#staticBackdropLabel").text(result["reason"]);
                        }
                        $(e.currentTarget).attr("disabled", true);
                    }
                });
            }
        }

        // 为“我的”按钮内弹框表格添加按钮
        function myaddTableButton(value, row, index){
            return [
            '<button id="exit_g" type="button" class="btn btn-primary">退出</button>',
            '<button id="disb_g" type="button" class="btn btn-primary">解散</button>',
            '<button id="enter_g" type="button" class="btn btn-primary">进入</button>'
            ].join('');
        }

        window.mybuttonEvents = {
            'click #exit_g' :function(e, value, row, index){
                mydata = {
                    "stuid":stuid,
                    "groupid":row["groupid"]
                };
                $.ajax({
                    type:"POST",
                    dataType:"json",
                    url:"/group/leave",
                    contentType:"application/json",
                    data:JSON.stringify(mydata),
                    success:function(result){
                        if(result["status"] == "success"){
                            $("#staticBackdropLabel").text("退出成功");
                        }
                        else{
                            $("#staticBackdropLabel").text(result["reason"]);
                        }
                        $(e.currentTarget).attr("disabled", true);
                    }
                });
            },            
            'click #disb_g' :function(e, value, row, index){
                if(!row["permission"]){
                    $("#staticBackdropLabel").text("你没有这个权限");
                    $(e.currentTarget).attr("disabled", true);
                }
                else{
                    mydata = {
                        "stuid":stuid,
                        "groupid":row["groupid"]
                    };
                    $.ajax({
                        type:"POST",
                        dataType:"json",
                        url:"/group/destroy",
                        contentType:"application/json",
                        data:JSON.stringify(mydata),
                        success:function(result){
                            if(result["status"] == "success"){
                                $("#staticBackdropLabel").text("小组解散成功");
                            }
                            else{
                                $("#staticBackdropLabel").text(result["reason"]);
                            }
                            $(e.currentTarget).attr("disabled", true);
                        }
                    });
                }
            },
            'click #enter_g' :function(e, value, row, index){
                localStorage["groupid"] = row["groupid"];
                window.location.href = '/group/?groupid=' + row["groupid"];
            }
        }

        // 退出按钮功能
        logout = function(){
            localStorage["secret"] = "";
            var j;
            var loginAdr = "";
            var nowAdr = window.location.href;
            for(var i = 0; nowAdr[i] != "i"; i++){
                loginAdr += window.location.href[i];
            }
            window.location.href = loginAdr;
        }

        // 选择所有的星期选项，即原本的课程
        chooseAll = function(){
            for(let i = 0; i < 18; i++){
                boxes[i].checked = true;
            }
        }

        // 反选所有星期选项
        reverseAll = function(){
            for(let i = 0; i < 18; i++){
                boxes[i].checked = ! boxes[i].checked;
            }
        }

        // 选择所有的单周选项
        singleAll = function(){
            for(let i = 0; i < 18; i++){
                if(i % 2 == 0){
                    boxes[i].checked = true;
                }
                else{
                    boxes[i].checked = false;
                }
            }
        }

        // 选择所有的双周选项
        doubleAll = function(){
            singleAll();
            reverseAll();
        }

        // 默认的星期选项，当前周，即事务
        onlyHere = function(){
            for(let i = 0; i < 18; i++){
                if(i + 1 == weeknum){
                    boxes[i].checked = true;
                }
                else{
                    boxes[i].checked = false;
                }
            }
        }

        destroyHere = function(){
            let mydata = {
                "stuid":stuid,
                "weekday":weekday,
                "daytime":daytime
            };
            $.ajax({
                type:"POST",
                dataType:"json",
                url:"/delete/affair/",
                contentType:"application/json",
                data:JSON.stringify(mydata),
                success:function(result){
                    if(result["status"] == "success"){
                        document.getElementsByClassName("content")[(daytime - 1) * 7 + weekday - 1].innerHTML = "";
                    }
                    else{
                        
                    }
                }
            });
        }

        create_group = function(){
            let mydata = {
                "groupname":document.getElementById("group_name").value,
                "stuid":stuid
            };
            $.ajax({
                type:"POST",
                dataType:"json",
                url:"/group/create",
                contentType:"application/json",
                data:JSON.stringify(mydata),
                success:function(result){
                    console.log(mydata["groupname"]);
                    if(result["status"] == "success"){
                        $("#staticBackdropLabel").text("创建成功，正在刷新界面");
                        location.reload();
                    }
                    else{
                        $("#staticBackdropLabel").text(result["reason"]);
                    }
                }
            });
        }

        // 向服务器发送新的事务
        clearText = function(){
            var mydata = {
                "stuid":stuid,
                "name":name,
                "weeknum":weeknum,
                "weekday":weekday,
                "daytime":daytime
            }
            mydata[mode] = document.getElementById("nextplan").value;
            url2send = "/add/" + mode + "/";
            for(let i = 0; i < 18; i++){
                if(boxes[i].checked == false){
                    continue;
                }
                else{
                    mydata["weeknum"] = i + 1;
                    $.ajax({
                        type:"POST",
                        dataType:"json",
                        url:url2send,
                        contentType:"application/json",
                        data:JSON.stringify(mydata),
                        success:function(result){
                            if(result["status"] == "success"){
                                document.getElementsByClassName("content")[(daytime - 1) * 7 + weekday - 1].innerHTML = result[mode];
                            }
                            else{
                                document.getElementsByClassName("content")[(daytime - 1) * 7 + weekday - 1].innerHTML = result["reason"] + ",添加失败";
                            }
                        }
                    });
                }
            }
        }

        search_group = function(){
            $("#staticBackdropLabel").text("该组长的小组");
            $.ajax({
                type:"POST",
                dataType:"json",
                url:"/group/search",
                contentType:"application/json",
                data:JSON.stringify({"leaderid":document.getElementById("leaderinp").value}),
                success:function(result){
                    if(result["status"] == "success"){
                        $("#staticModal").modal("show");
                        if(result["len"] == 0){
                            $("#gtable").bootstrapTable("destroy");
                            $("#gtable").bootstrapTable({
                                columns:[{
                                    field:"info",
                                    title:"查无数据"
                                },{
                                    field:"help",
                                    title:"请检查学号"
                                }],
                                data:[{
                                    info:"-",
                                    help:"-"
                                }]
                            })
                        }
                        else{
                            $("#gtable").bootstrapTable("destroy");
                            res = result["data"];
                            myjson = new Object();
                            myjson.columns = [{
                                field:"groupid",
                                title:"小组序号"
                            },{
                                field:"groupname",
                                title:"小组名称"
                            },{
                                field:"operate",
                                title:"操作",
                                align:"center",
                                events:buttonEvents,
                                formatter:addTableButton
                            }]
                            myjson.data = res;
                            $("#gtable").bootstrapTable(myjson);
                        }
                    }
                    else{
                        console.log("发送失败");
                    }
                }
            })
        }


        show_group = function(){
            $("#staticBackdropLabel").text("我的小组");
            $.ajax({
                type:"POST",
                dataType:"json",
                url:"/group/show",
                contentType:"application/json",
                data:JSON.stringify({"stuid":stuid}),
                success:function(result){
                    $("#staticModal").modal("show");
                    if(result.length == 0){
                        $("#gtable").bootstrapTable("destroy");
                        $("#gtable").bootstrapTable({
                            columns:[{
                                field:"info",
                                title:"查无数据"
                            },{
                                field:"help",
                                title:"还未加入小组"
                            }],
                            data:[{
                                info:"-",
                                help:"-"
                            }]
                        })
                    }
                    else{
                        $("#gtable").bootstrapTable("destroy");
                        res = result["data"];
                        myjson = new Object();
                        myjson.columns = [{
                            field:"groupid",
                            title:"小组序号"
                        },{
                            field:"groupname",
                            title:"小组名称"
                        },{
                            field:"leader",
                            title:"组长"
                        },{
                            field:"permission",
                            title:"权限"
                        },{
                            field:"operate",
                            title:"操作",
                            align:"center",
                            events:mybuttonEvents,
                            formatter:myaddTableButton
                        }]
                        myjson.data = res;
                        $("#gtable").bootstrapTable(myjson);
                    }
                }
            })

        }


        // 按下回车后保存修改信息
        function onKey(event){
            if(event.keyCode == "13"){
                document.getElementById("dismiss").click();
            }
        }


        // 表格框体点击后弹出输入框，并更改输入框标题
        var cts = document.getElementsByClassName("content");
        for(var i = 0; i < cts.length; i++){
            cts[i].index = i;
            cts[i].occupied = false;
            cts[i].onclick = function(){
                if(!this.occupied){
                    var rindex = this.index;
                    x = Math.floor(this.index / 7) + 1;
                    y = this.index % 7 + 1;
                    document.getElementById("ModalLabel").innerHTML = "星期" + y + "第" + x + "节课";
                    document.getElementById("nextplan").value = cts[rindex].innerHTML;
                    weekday = y;
                    daytime = x;
                    for(let i = 0; i < 18; i++){
                        boxes[i].checked = false;
                    }
                    boxes[weeknum - 1].checked = true;
                    $("#myModal").modal("show");
                }
            }
        }


        Date.prototype.toDayString = function(){
            {% comment %} return this.getFullYear() + '年' + (this.getMonth() + 1).toString() + '月' + this.getDate() + '日'; {% endcomment %}
            return (this.getMonth() + 1).toString() + '月' + this.getDate() + '日';
        }

        var date = new Date();
        var beginday = new Date(1599408000000); //学期的开始，9月7日0时（第0周）


        // 设定当前所处时间
        var setday = function(indexdate){
            var dayx = (indexdate.getDay() + 6) % 7; //重新定位，新的一周从周一开始
            var monday = new Date(indexdate.getTime() - 86400000 * dayx);
            var stamp = document.getElementsByClassName("specday");
            var daynames = {{ weekdaynames | safe }};
            for(var i = 0; i < 7; i++){ //为每一天加上日期
                var today = new Date(monday.getTime() + 86400000 * i);
                today = today.toDayString();
                stamp[i].innerHTML = today + " " + daynames[i];
            }
            var weekc = Math.floor((date - beginday) / (7 * 24 * 3600000)); //定义当前所处的星期
            weeknum = weekc;
        }
        setday(date);

        //切换当前所处的星期计数
        var changeweek = function(weekindex){
            var nextday = new Date(date.getTime() + 86400000 * 7 * weekindex);
            date = nextday;
            var currweek = weeknum + weekindex;
            if(currweek == 1){ //禁用上一周
                document.getElementById("preva").setAttribute("aria:disabled", true);
                document.getElementById("prevli").setAttribute("class", "page-item disabled");
                document.getElementById("preva").setAttribute("tabindex", -1);
                document.getElementById("preva").blur();
            }
            else if(currweek == 18){ //禁用下一周
                document.getElementById("nexta").setAttribute("aria:disabled", true);
                document.getElementById("nextli").setAttribute("class", "page-item disabled");
                document.getElementById("nexta").setAttribute("tabindex", -1);
                document.getElementById("nexta").blur();
            }
            else{ //解禁切换按钮
                document.getElementById("preva").setAttribute("aria:disabled", false);
                document.getElementById("prevli").setAttribute("class", "page-item");
                document.getElementById("preva").setAttribute("tabindex", 0);
                document.getElementById("nexta").setAttribute("aria:disabled", false);
                document.getElementById("nextli").setAttribute("class", "page-item");
                document.getElementById("nexta").setAttribute("tabindex", 0);
            }
            var get_week_data = {
                "stuid":stuid,
                "currweek":weeknum + weekindex
            }
            $("#weektag").text("加载中");
            $.ajax({
                type:"POST",
                url:"/get/affair",
                dataType:"json",
                contentType:"application/json",
                data:JSON.stringify(get_week_data),
                success:function(result){
                    var resaffair = result["data"]; // 个人事务
                    let groupaffair = result["gdata"]; // 小组事务
                    var exist_course = {{courses|safe}};
                    var courses = new Array;
                    for(key in exist_course){
                        courses = courses.concat(exist_course[key]); 
                    }
                    for(var i = 0; i < cts.length; i++){
                        cts[i].innerHTML = courses[i];
                    }
                    if(result["status"] == "success"){
                        for(let i = 0; i < cts.length; i++){
                            cts[i].occupied = false;
                        }
                        for(var i = 0; i < resaffair.length; i++){
                            var data = resaffair[i];
                            var x = data["daytime"] - 1;
                            var y = data["weekday"] - 1;
                            cts[x * 7 + y].innerHTML = courses[x * 7 + y] + data["affair"];
                        }
                        for(let i = 0; i < groupaffair.length; i++){
                            let data = groupaffair[i];
                            let x = data["daytime"] - 1;
                            let y = data["weekday"] - 1;
                            cts[x * 7 + y].innerHTML = courses[x * 7 + y] + data["affair"];
                            cts[x * 7 + y].occupied = true;
                        }
                    }
                    setday(date);
                    $("#weektag").text("第" + weeknum + "周");
                }
            })
        }
        changeweek(0);
        $("#weektag").text("第" + weeknum + "周");
        boxes[weeknum - 1].checked = true;



    </script>
  </body>
</html>