<!doctype html>
<html lang="zh-cn">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/jquery-3.5.1.js"></script>
    <script src="/static/popper.min.js"></script>
    <script src="/static/bootstrap.min.js"></script> 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/signin.css">
    <title>Hello, world!</title>
  </head>
  <body class="text-center">
    <div class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal" id="htitle">登录</h1>
        <input type="text" id="inputStuid" class="form-control" placeholder="StudentId" required autofocus>

        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required onkeypress="return onKey(event)">

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me" id="chebox">
                Remember me
            </label>
            <br>
            <a type="button" data-toggle="modal" data-target="#regModal" href="#">没有帐号？点这里</a>
        </div>
        <button class="btn btn-lg btn-primary btn-block" onclick="signin()">登录</button>
        <p class="mt-5 mb-3 text-muted">Powered by Zqy</p>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="regLabel">注册一个帐号吧</h5>
          </div>
          <div class="modal-body">
            <div class="form-signin">
              <input type="text" id="regStuid" placeholder="学号" class="form-control" required autofocus>
              <input type="text" id="regName" class="form-control" placeholder="姓名">
              <input type="password" id="regPassword" class="form-control" placeholder="密码" onkeypress="regOnkey(event)">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" onclick="register()">注册</button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    if(localStorage["stuid"]){
      $("#inputStuid").val(localStorage["stuid"]);
    }
    if(localStorage["secret"]){
      $("#inputPassword").val(localStorage["secret"]);
    }

    function onKey(event){
      if(event.keyCode == "13"){
        signin();
      }
    }

    function regOnkey(event){
      if(event.keyCode == "13"){
        register();
      }
    }

    register = function(){
      data = {
        "stuid":document.getElementById("regStuid").value,
        "name":document.getElementById("regName").value,
        "secret":document.getElementById("regPassword").value
      }
      $.ajax({
        type:"POST",
        dataType:"JSON",
        url:"/add/student/",
        contentType:"application/json",
        data:JSON.stringify(data),
        success:function(result){
          if(result["status"] == "success"){
            localStorage["stuid"] = result["stuid"];
            localStorage["secret"] = result["secret"];
            $("#inputStuid").val(localStorage["stuid"]);
            $("#inputPassword").val(localStorage["secret"]);
            signin();
          }
          else{
            document.getElementById("regLabel").innerHTML = result["reason"];
          }
        }
      })
    }

    signin = function(){
      var stuid = document.getElementById("inputStuid").value;
      var secret = document.getElementById("inputPassword").value;
      var data = {
        "stuid":stuid,
        "secret":secret
      }
      if(document.getElementById("chebox").checked){
        localStorage["stuid"] = stuid;
        localStorage["secret"] = secret;
      }
      postthing = function(){
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/login/", true);
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.onreadystatechange = function(){
        var rescontent = xhr.responseText;
        var mestitle = document.getElementById("htitle");
        if(xhr.readyState == 4 && xhr.status == 200){
          res = JSON.parse(xhr.responseText);
          console.log(res);
          if(res["status"] == "success"){
            localStorage["name"] = res["name"];
            window.location.href = "/index/?stuid=" + res["id"];
          }
          else{
            mestitle.innerHTML = res["reason"];
          }
        }
      }
      xhr.send(JSON.stringify(data));}
      postthing();

    }
    if(localStorage["secret"].length > 0){
      signin();
    }

  </script>
</html>